*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #ADE9E0;
}
.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  background-color: #FFE7C4;
  padding: 20px 20px;
  border-radius: 5px;
  color:  #fa9191;
}
