.card-container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 20px;
   background-color: rgb(85, 84, 84);
   border-radius: 5px;
}

.card-container .card{
    background-color: #48b5d0;
    width: 30%;
    margin: 20px;
    border-radius: 5px;
    color: white;
    padding: 30px 20px;
    font-family:monospace;
    font-weight: 400;
}